footer{
    background: transparent url(../img/pueblo-aleman.png) no-repeat center center;
    background-size: cover;
    padding-top: 50px;
    
    .logo-cial{
      width: 130px;
      height: auto;
      position: relative;
      display: block;
     /* margin: 0 auto;*/
     margin-bottom: 20px;
    }
    .link-foot{
      padding: 0;
      text-decoration: none;
      position: relative;
      display: block;
      color: #fff;
      font-family: Raleway,sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 20px;


      &:hover{
        opacity: .8;
        text-decoration: underline;
      }      
    }
    .copy{
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      color: #fff;
      font-size: 12px;
      line-height: 12px;
      font-weight: 400;
      margin-top: 20px;
    }
    .bloque-footer{
      .text-end{
        h5{
          font-family: 'Raleway', sans-serif;
          font-weight: 700;
          font-size: 18px;
          color: #fff;
          line-height: 20px;
        }
        p{
          margin: 0;
          padding: 0;
          font-family: 'Raleway', sans-serif;
          font-weight: 200;
          font-size: 15px;
          line-height: 17px;
          color: #fff;
          margin-bottom: 20px;
        }
        .ctx-rrss{
          list-style: none;
          li{
            &:hover{
              opacity: .8;
            }
            a{                            
              img{
                width: 40px;
                height: 40px;
              }
            }            
          }
          
        }
      }
    }
  }
  .msg-healt {
    text-transform: uppercase;
    font-size: 13px;
    background: #000;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
  }

