html {
  scroll-behavior: smooth;
}
body { 
    background: $color_fondo;
    color: $color_texto;
}


.msg-healt{
    background: #000;
    img{
        max-width: 70px;
        margin-right: 15px;
    }
}

.section-slider{
  padding-top: 110px;
}

.banner-cat{
  padding: 0;
  margin: 0;
  padding-top: 110px;
}

.section-slider-categories{
  background: #000;
  height: auto;
  position: relative;
  display: block;
  //top: -50px;
  min-height: 300px;
  .bloque-slide{
    background: #ff1b15;
    padding: 50px 20px;

    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {        
      right: 0px;
      color: #fff!important;
    }
    .swiper-button-prev, .swiper-container-rtl .swiper-button-prev {
      left: 0px;
      color: #fff!important;
    }
    .swiper-slide{
      width: 80%;
    }

    .box-carrousel{
      width: 80%;
      position: relative;
      display: block;
      margin: 0 auto;
      img{
        width: 70px;
        height: auto;
        position: relative;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
      }
      h4{
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        font-size: 20px;
        line-height: 20px;
        color: #fff;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;        
      }
      p{
        margin: 0;
        padding: 0;
        width: 90%;
        height: auto;
        position: relative;
        margin: 0 auto;;
        font-size: 17px;
        line-height: 20px;
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        text-align: center;
        min-height: 100px;
      }
      .btn-vermas{
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 18px;
        background: #fdee00;
        color: #000;
        text-decoration: none;
        width: 160px;
        height: 30px;
        line-height: 30px;
        position: relative;
        margin:0 auto;
        display: block;
        text-align: center;
        border-radius: 15px;
        transition: .4s all;
        &:hover{
          opacity: .8;
        }
      }
    }
  }
}


.offcanvas{
  background: #ff1b15;
  &.offcanvas-start{
    width: 300px;
  }
  &.offcanvas .btn-close {
    font-size: 20px;
  }
  .btn-close{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 30px;
    background-color: #ffffff;
    opacity: 1;
  }
  .ctx-menu{
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    list-style: none;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    li{
      position: relative;
      display: block;
      width: 100%;
      height: auto;
      margin-bottom: 10px;
      padding-left: 10%;
      &:hover{
        background: #f2e31b;
      }
      &:hover a{
        color: #000;
      }
      &:hover a .item-icon .icowhite{
        display: none;
      }
      &:hover a .item-icon .icoblack{
        display: block;
      }
      a{
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 30px;
        color: #fff;
        text-decoration: none;        
      }
      .item-icon{
        margin-right: 15px;
        width: 60px;
        .icowhite{
          display: block;
        }
        .icoblack{
          display: none;
        }
      }
      .item-text{
        font-size: 20px;        
      }
    }
  }
}


.page-contacto{
  width: 100%;
  position: relative;
  display: block;
  background: #fff;
  .titulo{
    color: #262625;
    font-family: Raleway,sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
  }
  form{
    width: 60%;
    position: relative;
    display: block;
    margin: 0 auto;
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    input{
      font-size: 16px;
      line-height: 16px;
      height: 30px;
    }
    textarea{
      font-size: 16px;
      line-height: 18px;
      resize: none;
      height: 150px;
    }
    .btn-enviar{
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      font-size: 18px;
      background: #fdee00;
      color: #000;
      border: 1px solid #000;
      text-decoration: none;
      width: 160px;
      height: 40px;
      line-height: 30px;
      position: relative;
      margin:0 auto;
      display: block;
      text-align: center;
      border-radius: 15px;
      transition: .4s all;
      &:hover{
        opacity: .8;
      }
    }
  }
}




@media (max-width: 1024px) {
  .section-slider-categories .bloque-slide .box-carrousel p {
    min-height: 150px;
  }
  .offcanvas .ctx-menu li .item-text {
    font-size: 20px;
  }
  .offcanvas .ctx-menu li .item-icon {
    margin-right: 20px;
    width: 65px;
  }
}

@media (max-width: 768px) {
  .collapse:not(.show) {
    display: block!important;
  }
  .navbar-brand.abs
  {
      position: absolute;
      width: 100%;
      left: 0;
      text-align: center;
  }
  .msg-healt {
      img { 
          display: block;
          width: 100px;
          margin: 0 auto;
      }
  }

  .section-slider {
      padding-top: 90px;
  }

  .nav-menu .logo-winter {
    bottom: 7px;
    height: auto;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 130px;
}

  .nav-menu {
    width: 100%;
    height: 90px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  } 
  
  .logo-winter{
    width: 100px;
    .logo-black {
        width: 100px!important;
    }
  }
  .nav-menu .search-winter {
    position: absolute;
    right: 20px;
    width: 130px;
  }
} 


@media (max-width: 480px) {
  .nav-menu .open-menu {
    height: 30px;
    left: 20px;
    width: 30px;
  }
  .logo-winter .logo-black {
    width: 90px!important;
  }
  .nav-menu .search-winter {
    right: 10px;
    width: 100px;
  }
  .nav-menu .search-winter .form-search {
    font-size: 9px;
  }
  
  .page-contacto form {
      width: 90%;
  }
  
  footer {
    padding-top: 0px;
  }
  footer .logo-cial {
    margin: 0 auto;
    margin-bottom: 20px;
  }

    footer .link-foot {
      margin: 0 0 20px;
      text-align: center;
  }

  footer .bloque-footer .text-end h5 {
    text-align: center;
  }
  footer .bloque-footer .text-end p {
    text-align: center;
  }

  footer .bloque-footer .text-end .ctx-rrss {    
    width: 80px;
    height: 40px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  

  .msg-healt {
    font-size: 12px;
  }
  .msg-healt img {
    width: 50px;
  }
  .offcanvas .ctx-menu li .item-icon {
    width: 55px;
  }
  .breadcrumbs .box-title {
    position: relative!important;
    display: block!important;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
  }
  .breadcrumbs .box-title hr {
    display: none;
  }
  .breadcrumbs .box-title .link-vertodos {
    position: relative;
    display: block;
    padding-top: 20px!important;
    padding-bottom: 20px!important;
    background: #fdee00;
    border-radius: 15px;
    color: #000!important;
    margin-top: 10px;
  }

  .single .info-detail {
      width: 100%;
  }

  .nav-menu .logo-winter {
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    width: 90px;
    height: 50px;
    padding: 0;
}

}