
.nav-menu{
    background-color: rgba(13,13,12,.7);
    height: 110px;
    .logo-winter{
        height: auto;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        width: 200px;
        bottom: -55px;
        .logo-black{
            width: 180px;        
        }
    }
    .logo-mobile {
        width: 90px;
    }

    .open-menu{
        background: transparent url(../img/open-menu.png) no-repeat 50%;
        background-size: contain;
        height: 40px;
        position: absolute;
        width: 40px;
        left: 40px;
        &:hover{
            opacity: .8;
        }
    }

    /* SEARCH*/ 
    .search-winter {
        width: 200px;
        position: absolute;
        right: 40px;
        input, input:focus {
            background: #262625;
            border-right: 0;
            border-radius: 20px 20px 20px 20px; 
            border: 2px solid #fff;
            height: 40px;
            outline: none;          
            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #fff;
            opacity: 1; /* Firefox */
            }
            &::-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #fff;
            }
            &::-ms-input-placeholder { /* Microsoft Edge */
            color: #fff;
            }
        }        
        .form-control, .form-control:focus {
            background-color: #262625;
            border: 1px solid #838383;            
        }
        .form-search{
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            color: #fff;
            font-size: 12px;
            text-transform: uppercase;
        }
        .btn-outline-success {
            color: #fff;
            border-color: $color_rojo;
            background: $color_rojo;
            border-radius: 30px;
            margin-left: -42px;
            line-height: 0px;
            &:hover{
                opacity: .8;
            }
        }
    }
}
