.breadcrumbs{
  display: block;
  position: relative;
  .box-title {
    display: inline-flex;
    background: #e72419;
    padding: 0 15px;
    color: #f0f8ff;
    text-align: center;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    margin: -10px auto 0;
    bottom: -20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    h2 {
      color: #fff;
      font-family: Raleway,sans-serif;
      font-size: 22px;
      font-weight: 700;
      padding: 0 40px;
    }
    .link-vertodos{
      font-family: 'Raleway', sans-serif;
      font-weight: 200;
      font-size: 18px;
      line-height: 20px;
      color: #ffffff;
      text-decoration: none;
      padding: 0 10px;
    }
    hr{
      font-family: 'Raleway', sans-serif;
      font-weight: 200;
      border: none;
      border-left: 3px solid #fff;
      height: auto;
      min-height: 20px;
      width: 1px;
      margin: 0.6rem 1em;
      opacity: 1;
    }
  }
}