.category-product{
  background-color: white;
  .titulo{
    color: #262625;
    font-family: Raleway,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
    text-decoration: none;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .box{
    &:hover{
      opacity: .95;
      -webkit-box-shadow: 0px 5px 8px 5px rgb(0 0 0 / 36%);
      -moz-box-shadow: 0px 5px 8px 5px rgba(0,0,0,0.36);
      box-shadow: 0px 5px 8px 5px rgb(0 0 0 / 36%);
    }
    &.cat-product{
      background: white;
      width: 90%;
      position: relative;
      display: block;
      margin: 00 auto;
      margin-bottom: 30px;
      .info-detail{
        .nombre{
          color: $color_texto_negro;
          font-family: Raleway,sans-serif;
          font-size: 20px;
          font-weight: 700;
          line-height: 24px;
          margin-bottom: 10px;
          margin-top: 20px;
          text-align: center;
          text-decoration: none;
          min-height: 50px; 
        }
        .peso{
          color: $color_texto_negro;
          font-family: 'Raleway', sans-serif;
          font-weight: 400;
          font-size: 15px;
          line-height: 17px;
          text-align: center;
          margin-bottom: 10px;
          text-decoration: none;
        }
        .btn-more{
          font-family: 'Raleway', sans-serif;
          font-weight: 400;
          font-size: 22px;
          background: #e72419;
          color: #fff;
          text-decoration: none;
          width: 160px;
          height: 30px;
          line-height: 30px;
          position: relative;
          margin:0 auto;
          display: block;
          text-align: center;
          border-radius: 15px;
          transition: .4s all;
          &:hover{
              color: #000000;
              background: #fdee00;
          }
        }
      }
    }
  }
}