.related-product {
    background: $gris_oscuro;
    color: $color_fondo;    
    .bloque-related{
        background: white;
        &:hover{
            opacity: .8;
        }
    }
    .box-title {
        margin-top: -70px;
        text-align: center;
        margin-bottom: 40px;
        h2{
            display: inline-block;
            background: $color_rojo;
            color: #fff;
            font-family: Raleway,sans-serif;
            font-size: 22px;
            font-weight: 700;
            padding: 10px 40px;
        }
    }

    img {
        margin-right: 15px;
        width: 150px;
        position: relative;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .info-detail {
        .title{
            color: $color_texto_negro;
            font-family: Raleway,sans-serif;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            margin-top: 20px;
            min-height: 50px;
            text-align: left;
            text-decoration: none;
            width: 80%;
        }    
        .btn-more{
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            font-size: 14px;
            background: #e72419;
            color: #fff;
            text-decoration: none;
            width: 120px;
            height: 30px;
            line-height: 30px;
            position: relative;
            display: block;
            text-align: center;
            border-radius: 15px;
            transition: .4s all;
            &:hover{
                color: #000000;
                background: #fdee00;
            }
          }
    } 

}