/* Detail product */
.single{
    background: transparent url(../img/bg-single.jpg) no-repeat center center;
    background-size: cover;
    color: $color_fondo;
    padding-bottom: 100px;
    padding-top: 60px;
    .img-producto{
        width: 75%;
        position: relative;
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .info-detail{
        width: 80%;       
        .single-peso{
            color: #262625;
            font-family: Raleway,sans-serif;
            font-size: 25px;
            font-weight: 400;
            line-height: 27px;
            margin-bottom: 10px;
            text-align: left;
            text-decoration: none;
        }
        .single-title{
            color: #262625;
            font-family: Raleway,sans-serif;
            font-size: 35px;
            font-weight: 700;
            line-height: 38px;
            text-align: left;
            text-decoration: none;
        }
        .single-desc{
            color: #262625;
            font-family: Raleway,sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 18px;
            text-align: left;
            text-decoration: none;
        }
    }   
}






@media (max-width: 480px) {
    .single .info-detail {
        width: 100%;
        padding: 0!important;
    }
    .single .info-detail .single-peso, .single .info-detail .single-title {
        text-align: center;
    }
    .single .info-detail .single-desc {
        text-align: center;
    }
    .single .info-detail .single-title {
        font-size: 35px;
        line-height: 39px;
        margin-bottom: 20px;
    }
    .related-product .info-detail .title {
        width: 100%;
        text-align: center;
    }
    .related-product .info-detail .btn-more {
        margin: 0 auto;
        margin-bottom: 30px;
    }
}